*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.navigation-bar{
    background-color: #eee;
    border-bottom: 1px solid #000;
}

.navigation{
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 10%;
    padding: 10px;
    height: 90%;
}

.logo figure{
    height: 100%;
}

.logo figure img{
    height: 100%;
}

.search-bar{
    display: flex;
    width: 50%;
    align-items: center;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px 50px;
}

.search-bar .category{
    font-size: 17px;
    width: 25%;
    padding: 10px 0px;
    border-right: 1px solid #000;
}

.search-bar .search-box{
    width: 65%;
    display: block;
    padding: 10px;
}

.search-bar .search-box input{
    border: none;
    outline: 0;
    display: block;
    width: 100%;
    background-color: #eee;
}

.search-bar .search-icon{
    width: 10%;
    padding: 10px;
    background-color: green;
}

.search-bar .search-icon i{
    text-align: center;
    color: white;
    margin-left: 10px;
}

.login-btn{
    width: 20%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.login-btn .btn-box{
    width: 49%;
    padding: 5px 10px;
    border-radius: 5px;
    height: 40px;
    border: none;
    outline: 0;
    color: white;
}

.btn-orange{
    background-color: orangered;
}

.btn-green{
    background-color: green;
}

.nav-mobile{
    width: 100%;
    display: flex;
    height: 60px;
    padding: 10px;
    align-items: center;
    display: none;
}

.nav-mobile .btn-bar{
    position: fixed;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: green;
}

.nav-mobile .logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-mobile .logo figure {
    height: 60px;
}

.nav-mobile .logo figure img{
    height: 60%;
}

/* menu bar */

.left-menu{
    width: 100%;
    padding: 0px;
    box-shadow: 0px 0px 6px -3px black;
}

.left-menu ul li{
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-menu ul li a{
    font-size: 15px;
    padding:15px 10px;
    display: block;
    color: black;
    margin-left: 15px;
    cursor: pointer;
}

.left-menu ul li.type{
    justify-content: space-between;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: green;
    padding: 10px;
}

.left-menu ul li p.showmore{
    font-size: 12px;
    text-transform: none;
    color: black;
}

.left-menu ul li:not(.type):hover{
    box-shadow: 0px 0px 6px -3px black;
}

/* slide box */

.slide-box{
    width: 100%;
    height: 425px;
    position: relative;
}

.slide-box .slide {
    background-image: url(asset/slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide-box .btn {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background-color: gray;
    color: white;
}

.btn-prev{
    left: 5px;
}

.btn-next {
    right: 5px;
}

.sponsore-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sponsore-box p{
    font-size: 17px;
    text-transform: uppercase;
}

.sponsore-box .line {
    width: 87%;
    height: 4px ;
    margin-top: 10px;
    border-radius: 2px;
    background-color: gray;
}

/* mobile phone */
@media (max-width: 575.98px) { 
    .navigation {
        display: none;
    }

    .nav-mobile {
        display: block;
    }
}

/* landscape */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .navigation {
        display: none;
    }

    .nav-mobile {
        display: block;
    }
}

/* ipad*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .navigation {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .col-9{
        width: 100%;
        flex:  0 0 auto;
    }

    .slide-box{
        height: 350px;
    }

    .left-menu {
        display: none;
    }

    .slide-box .btn {
        font-size: 13px
    }

    .sponsore-box {
        display: flex;
        flex-direction: column;
    }

    .sponsore-box p{
        font-size: 14px;
        width: 100%;
        margin: 0;
    }

    .sponsore-box .line{
        width: 100%;
        display: block;
        margin-top: 0px;
    }
}

/* ipad pro */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .search-bar .category{
        font-size: 14px;
    }

    .sponsore-box p{
        font-size: 15px;
    }

    .sponsore-box .line{
        width: 80%;
    }

    .left-menu ul li a{
        font-size: 14px;
        padding: 16px 10px;
    }

    .left-menu ul li.type{
        font-size: 16px;
    }
}

/* Laptop*/
@media (min-width: 1200px) { 

}